
<app-nav-bar></app-nav-bar>
<div class="jumbotron text-center"  style="margin-top: 70px;">
  <h2>Bienvenue </h2>
  <h4>{{currentUser?.prenom}} {{currentUser?.nom}}</h4> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
     
      <div class="d-flex justify-content-center">
        <i class="pi pi-user-minus" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
        <h4>Mon profil :</h4>
      <a routerLink="/modificationprofilpro">Modifier votre compte ici.</a>
      </div>
   
    <div class="col-sm-4" *ngIf="Boolprod">
      <div class="d-flex justify-content-center">
      <i class="pi pi-align-justify" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
      <h4>Mes annonces :</h4>
      <a routerLink="/creationannonce">Modifier, ajouter ou supprimer vos annonces.</a>

    </div>
    <div class="col-sm-4">
        <div class="d-flex justify-content-center">
        <i class="pi pi-list" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
        <h4>Mes produits :</h4>
        <a routerLink="/creationarticle">Modifier, ajouter ou supprimer vos produits.</a>
       
      </div>
  </div>
</div>
<br /><br /><br /><br />


<!--____________________________________PARTIE FEEDBACK ICI_________________________________-->

<div class="row-sm-4 text-left" style=" margin-top: 50px; background-color: rgb(128, 230, 145);">
  <div class="col text-left" style="margin-left :20px">
    <h2>Ce qu'ils en ont pensé</h2>
    <p>Retrouvez ici les avis de vos clients.</p>
  
  </div>
</div>

<br /><br />
<div class="container col-sm-10">
  <table  class="table" >
    <thead>
      <tr>
        <td>Note</td>
        <td>Commentaire</td>
   <td>Votre client</td>
   <td>Produit commandé</td>
    
      </tr> 
    </thead>
    <tbody *ngFor="let a of listFeed">
        <tr *ngIf="a.userRecoit.idUser == currentUser.idUser">
        
          <td >{{a.note}}</td>
          <td> {{a.commentaire}}</td>
          <td>{{a.userDonne.nom}}</td>
          <td>{{a.choix.article.nom}}</td>
        
        </tr> 
    </tbody>
  </table>
</div>
<br /><br />