<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 200px;">
    <div class="row d-flex justify-content-around my-5">
        <div class="card" style="width: 25rem;" style="text-align: center;">
            <i class="pi pi-users" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des utilisateurs</p>
            </div>
            <a href="adminGestionUsers">VOIR</a>
        </div>
        <div class="card" style="width: 25rem;" style="text-align: center;">
            <i class="pi pi-briefcase" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des annonces de mission</p>
            <a href="adminGestionAnnonces">VOIR</a>
            </div>
        </div>
        <div class="card" style="width: 25rem;" style="text-align: center;">
            <i class="pi pi-shopping-cart" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des annonces d'articles</p>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around my-5">
        <div class="card" style="width: 25rem; " style="text-align: center;">
            <i class="pi pi-thumbs-up" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des feedbacks</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;" style="text-align: center;">
            <i class="pi pi-shopping-cart" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des commandes</p>
            </div>
        </div>
        <div class="card" style="width: 25rem;" style="text-align: center;">
            <i class="pi pi-lock" style="font-size: 10em"></i>
            <div class="card-body">
            <p class="card-text">Gestion des comptes ADMIN</p>
            </div>
        </div>
    </div>
</div>
