<app-nav-bar></app-nav-bar>
<br /><br /><br />

<br /><br />
<p-toast  [style]="{marginTop: '72px'}"></p-toast>
<div class="container col-sm-10">
  <h4> →  Liste de vos articles :</h4>
</div>

<br /><br />
<div class="container col-sm-10">
  <table  class="table" >
    <thead>
      <tr>
        <td>Nom  </td>
        <td>Type d'article</td>
        <td>Prix</td>
        <td>Quantité disponible </td>
        <td>Supprimer ?</td>
        <td>Modifier ?</td>
      </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let a of listArt">
          <td>{{a.nom}}</td>
          <td>{{a.typearticle}}</td>
          <td>{{a.prix}}</td>
          <td>{{a.quantiteDisponible}}</td>
          <td> <button (click)="deleteArticle(a.idArticle)" class="btn btn-danger">Supprimer</button></td>
          <td> <button (click)="modifierArticle(a)" class="btn btn-success">Modifier</button></td>
        </tr> 
    </tbody>
  </table>
</div>
<br /><br />
  <!-- _____________________apparition conditionnelle pour le update ________________________-->
<div class="container col-sm-10">
  <form *ngIf="BooleanForm" [formGroup]="formArt" (ngSubmit)="ajoutArticle()">
    <div class="form-row d-flex justify-content-around" >

      <div class="form-group">
        <label for="inputEmail4"> Nom de l'article</label><br/>
        <p-autoComplete formControlName="nom" [suggestions]="ListeArticlesEnum" (completeMethod)="searchArt($event)"  field="nom" [size]="30"
        placeholder="pomme, courgettes, etc" [minLength]="1"></p-autoComplete>
      </div>

      <div class="form-group">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Type d'article :</label>
        <select  class="custom-select mr-sm-2" formControlName="typearticle" >
          
          <option  value="1">Legume</option>
          <option  value="2">Fruit</option>
          <option value="3" >Viande</option>
          <option  value="4">Alcool</option>
          <option value="3" >Laitage</option>
          <option  value="4">Artisanat</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputCity">Prix unitaire</label>
        <input type="text" class="form-control"  formControlName="prix" >
      </div>
    
      <div class="form-group">
        <label for="inputCity">Quantité disponible</label>
        <input type="text" class="form-control" formControlName="quantiteDisponible" >
      </div>

    </div>
    <div>
      <button type="submit" class="btn btn-success mx-2" >Valider</button>
      <button class="btn btn-warning mx-2" (click)="annulerModif()">Annuler</button>
    </div>
    
  </form>
</div>




<br /><br /><br />



<!-- _________________________________________Button trigger modal _____________________________________________-->
<div class="container col-sm-10">
    <button type="button" class="btn btn-lg btn-outline-success shadow" data-toggle="modal" data-target=".bd-example-modal-lg"style="border-radius: 30px; width: 220px;">
    Publier un article  </button>
</div>

  
  <!-- _____________________________________________Modal _____________________________________________-->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un article</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container p-3 my-3 bg-dark text-white" style="margin-top: 70px;">
              <form [formGroup]="formArt" (ngSubmit)="nouvelArticle()" >
                  <div class="form-group">
                      <label for="exampleInputEmail1">Nom :</label><br/>
                      <!-- <input type="text" class="form-control" formControlName="nom" aria-describedby="emailHelp" placeholder="Nom"> -->
                      <p-autoComplete formControlName="nom" [suggestions]="ListeArticlesEnum" (completeMethod)="searchArt($event)"  field="nom" [size]="30"
                      placeholder="pomme, courgettes, etc" [minLength]="1"></p-autoComplete>
                      <small id="emailHelp" class="form-text text-muted"></small>
                  </div>

                  <div class="form-row align-items-center">
                      <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Type d'article :</label>
                          <select  class="custom-select mr-sm-2" formControlName="typearticle" >
                            
                            <option  value="0">Legume</option>
                            <option  value="1">Fruit</option>
                            <option value="2" >Viande</option>
                            <option  value="3">Alcool</option>
                            <option value="4" >Laitage</option>
                            <option  value="5">Artisanat</option>
                          </select>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="exampleInputEmail1">Prix unitaire :</label>
                      <input type="text" class="form-control" formControlName="prix" aria-describedby="emailHelp" placeholder="Prix unitaire">
                      <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Quantité disponible :</label>
                      <input type="number" class="form-control" formControlName="quantiteDisponible" aria-describedby="emailHelp" placeholder="Quantité disponible">
                      <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
              </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="nouvelArticle()">Ajouter</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>




