<app-nav-bar></app-nav-bar>
<br /><br /><br />

<br /><br />
<p-toast  [style]="{marginTop: '72px'}"></p-toast>
<div class="container col-sm-10">
  <h4> →  Liste de vos annonces :</h4>
</div>
<br /><br />

<div class="container col-sm-10">
  <table  class="table" >
    <thead>
      <tr>
        <td>Date de Début  </td>
        <td>Date de fin </td>
        <td>Type d'annonce </td>
        <td>Nombre de place </td>
        <td>Compensation </td>
        <td>Supprimer ?</td>
        <td>Modifier ?</td>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let a of listArt">
        <td>{{a.dateDebut | date:'EEEE, MMMM d, y' }}</td>
        <td>{{a.dateFin | date:'EEEE, MMMM d, y'}}</td>
        <td>{{a.typeannonce}}</td>
        <td>{{a.nombrePlace}}</td>
        <td>{{a.compensation}}</td>
        <td> <button (click)="deleteAnnonce(a.idAnnonce)" class="btn btn-danger">Supprimer</button></td>
        <td> <button (click)="updateAnnonce(a)" class="btn btn-success">Modifier</button></td>
      </tr> 
    </tbody>
  </table>
</div>
<br /><br />
  <!-- _____________________apparition conditionnelle pour le update ________________________-->
<div class="container col-sm-10">
<form *ngIf="BooleanForm" [formGroup]="formArt" (ngSubmit)="ajoutAnnonce()">
  <div class="form-row d-flex justify-content-around" >
    <div class="form-group">
      <label for="inputEmail4">Date de Début</label>
      <input type="date" class="form-control"  formControlName="dateDebut">
    </div>
    <div class="form-group">
      <label for="inputPassword4">Date de Fin</label>
      <input type="date" class="form-control"  formControlName="dateFin">
    </div>      
    <div class="form-group">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Type d'annonce:</label>
      <select  class="custom-select mr-sm-2" formControlName="typeannonce" >
        <option  *ngFor="let an of ListeAnnoncesEnum" value={{an}}>{{an}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputCity">Nombre de Place :</label>
      <input type="text" class="form-control"  formControlName="nombrePlace">
    </div>
  </div>
  <div class="d-flex justify-content-start col-sm-7">
    <div class="form-group">
    <label for="inputCity">Compensation :</label>
    <input type="text" class="form-control" formControlName="compensation" >
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success mx-2" >Valider</button>
    <button class="btn btn-warning mx-2" (click)="annulerModif()" >Annuler</button>
  </div>
</form>
</div>



<br /><br /><br />



<!-- _________________________________________Button trigger modal _____________________________________________-->
<div class="container col-sm-10">
<button type="button" class="btn btn-lg btn-outline-success shadow" data-toggle="modal" data-target=".bd-example-modal-lg"style="border-radius: 30px; width: 220px;">
    Publier une annonce </button>
</div>

  
  <!-- _____________________________________________Modal _____________________________________________-->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter une annonce</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         



            <div class="container p-3 my-3 bg-dark text-white" style="margin-top: 70px;">
               
                <form [formGroup]="formArt" (ngSubmit)="nouvelAnnonce()" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date de début :</label>
                        <input type="date" class="form-control" formControlName="dateDebut" aria-describedby="emailHelp" placeholder="Date de début">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                   
                      <div class="form-group">
                        <label for="exampleInputEmail1">Date de fin:</label>
                        <input type="date" class="form-control" formControlName="dateFin" aria-describedby="emailHelp" placeholder="Date de fin">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>

                      <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Type d'annonce:</label>
                          <select  class="custom-select mr-sm-2" formControlName="typeannonce" >
                            <option  *ngFor="let an of ListeAnnoncesEnum" value={{an}}>{{an}}</option>
                          </select>
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre de place(s) disponible(s) :</label>
                        <input type="number" class="form-control" formControlName="nombrePlace" aria-describedby="emailHelp" placeholder=" de combien de personnes avez vous besoin?">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Compensation :</label>
                        <input type="text" class="form-control" formControlName="compensation" aria-describedby="emailHelp" placeholder="rémunértion, service, nouriture, etc..">
                        <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                    </form>
                      </div>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="nouvelAnnonce()">Ajouter</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>


