<app-nav-bar></app-nav-bar>



<br /><br /><br /><br /><br />
<h4> Vous voulez modifier votre profil ?</h4><br /><br />
<table  class="table" >
    <thead>
    <tr>
<td>Login  </td>
<td>Mot de passe</td>
<td>Adresse email</td>
<td>Nom </td>
<td>Prenom</td>
<td>Numéro de rue</td>
<td>Rue</td>
<td>Ville</td>
<td>Département</td>
<td>Modifier ?</td>
    </tr> 
</thead>
<tbody>
    <tr>
 <td>{{currentUser.login}}</td>
<td>{{currentUser.password}}</td>
<td>{{currentUser.mail}}</td>
<td>{{currentUser.nom}}</td>
<td>{{currentUser.prenom}}</td>
<td>{{currentUser.numero}}</td>
<td>{{currentUser.rue}}</td>
<td>{{currentUser.ville}}</td>
<td>{{currentUser.departement}}</td>

<td> <button (click)="updateUser(currentUser)" class="btn btn-success">Modifier</button>
</td>
    </tr> 
</tbody>
</table>

 <!-- _____________________apparition conditionnelle pour le update ________________________-->
<form *ngIf="BooleanForm" [formGroup]="formArt" (ngSubmit)="ajoutUser()">
    <div class="form-row" >
      <div class="form-group">
        <label for="inputEmail4"> Login :</label>
        <input type="text" class="form-control"  formControlName="login" >
      </div>
    </div>
     
      <div class="form-row" >
        <div class="form-group">
          <label for="inputEmail4"> Mot de passe :</label>
          <input type="text" class="form-control"  formControlName="password" >
        </div>
    </div>
        <div class="form-row" >
            <div class="form-group">
              <label for="inputEmail4"> Adresse email :</label>
              <input type="text" class="form-control"  formControlName="mail" >
            </div>
        </div>
            <div class="form-row" >
                <div class="form-group">
                  <label for="inputEmail4"> Nom :</label>
                  <input type="text" class="form-control"  formControlName="nom" >
                </div>
            </div>
                <div class="form-row" >
                     <div class="form-group">
                      <label for="inputEmail4"> Prénom :</label>
                      <input type="text" class="form-control"  formControlName="prenom" >
                    </div>
                </div>
    
  

                <div class="form-group">
                  <div class="form-group">
                <label for="inputCity">Numero : </label>
                <input type="text" class="form-control" formControlName="numero" >
              </div>
          </div>

    <div class="form-group">
        <div class="form-group">
      <label for="inputCity">Rue : </label>
      <input type="text" class="form-control" formControlName="rue" >
    </div>
</div>
  
    <div class="form-group">
        <div class="form-group">
        <label for="inputCity">Ville : </label>
        <input type="text" class="form-control" formControlName="ville" >
    </div>
</div>
    <div class="form-group">
        <div class="form-group">
        <label for="inputCity">Département :</label>
        <input type="text" class="form-control" formControlName="departement" >
      </div>
    </div>
               
    <button type="submit" class="btn btn-secondary" >Valider</button>
  </form>



<br /><br /><br />



