<app-nav-bar></app-nav-bar>

<!--

<br /><br /><br />
<h4> Vous voulez modifier votre profil ?</h4>
<table  class="table" >
    <thead>
    <tr>
<td>login  </td>
<td>password</td>
<td>mail</td>
<td>nom </td>
<td>prenom</td>
<td>rue</td>
<td>ville</td>
<td>département</td>
<td>Modifier ?</td>
    </tr> 
</thead>
<tbody>
    <tr *ngFor="let a of listMod">
 <td>{{a.login}}</td>
<td>{{a.password}}</td>
<td>{{a.mail}}</td>
<td>{{a.nom}}</td>
<td>{{a.prenom}}</td>
<td>{{a.rue}}</td>
<td>{{a.ville}}</td>
<td>{{a.departement}}</td>

<td> <button (click)="cestqui(a)" class="btn btn-success">Modifier</button>
</td>
    </tr> 
</tbody>
</table>
-->

