<div class="container col-sm-12 d-flex justify-content-end mx-auto"
		style="height: 40em;background-image:url(../../assets/images/10.jpg); 
		background-size: 100%;background-repeat: no-repeat;margin-top: 70px;">
		<div class="d-flex align-items-center" style="color:white;">
			<form class="mx-auto" style="text-align: center;" action="page_recherche">
				<h3>Vous aussi vous aimer consommer local? </h3>
				<h6>trouvez des producteurs et artisants proches de chez vous !</h6><br/>
				
				<Button class="btn btn-lg shadow btn-success" type="submit" action="page_recherche_form.jsp"
						style="width: 200px;height:50p;border-radius: 30px;">Rechercher</Button> 
			
			</form>
		</div>
</div>
<div class="row col-sm-12 d-flex justify-content-center mx-auto my-2">
	<div class="row col-sm-5 mr-2">
		<IMG alt="" src="../../assets/images/12.jpg" width="90%" style="border-radius: 5px;" class="shadow"/>
	</div>
	<div class="row col-sm-5 d-flex align-items-center"
		style="color: black;">
		<!-- affiché en mode non connecté -->
		
			<form class="mx-auto">
				<h3>Vous avez besoin d'aide pour une tâche?</h3>
				<h3>trouvez des personnes disponibles pour vous</h3>
				<h6>Cliquez et dites ce dont vous avez besoin</h6>
				<br /> 
				<a class="btn btn-lg btn-outline-success shadow" data-toggle="modal"
					data-target="#accesRefuse" href="#"
					style="border-radius: 30px; width: 220px;">
					Publier une annonce</a>
			</form>
	</div>
</div>
<div class="row col-sm-12 d-flex justify-content-center mx-auto mt-5">
	<div class="row col-sm-5 d-flex align-items-center"
		style="color: black;">
		<!-- affiché en mode non connecté -->
		
			<form class="mx-auto">
				<h3>Vous souhaitez aider les producteurs locaux?</h3>
				<h3>trouvez des missions autour de chez vous</h3>
				<br /> <a class="btn btn-lg btn-outline-success shadow" data-toggle="modal"
					data-target="#accesRefuse" href="#"
					style="border-radius: 30px; width: 220px;">
					Trouver une mission</a>
			</form>
	</div>
	<div class="row col-sm-5 mr-2">
		<IMG alt="" src="../../assets/images/13.jpg" width="90%" style="border-radius: 5px;" class="shadow"/>
	</div>
</div>
<div class="shadow row col-sm-12 my-5 mx-auto d-flex justify-content-center" style="background-color: rgb(128, 230, 145);">
	<div class="row col-sm-8 my-4" style="color:white;">
	<h3>Dans quelle ville etes-vous?</h3>
	</div>
	<div class="row col-sm-8 mb-4">
	<form class="form-inline">
		<form>
			<Button class="btn btn-outline-success mr-3" style="width: 170px; height:50px">Toulouse</Button>
		</form>
		<form>
			<Button class="btn btn-outline-success mr-3" style="width: 170px; height:50px">Nantes</Button>
		</form>
		<form>
			<Button class="btn btn-outline-success mr-3" style="width: 170px; height:50px">Lyon</Button>
		</form>
	</form>
	</div>
</div>
<div class="row col-sm-12 my-5 mx-auto d-flex justify-content-center">
	<div class="col-sm-8 d-flex justify-content-start">
		<form>
			<h3>Ce qui va vous plaire </h3>
		</form>
	</div>
</div>
<div class="row col-sm-12 my-5 mx-auto d-flex justify-content-center">
	<div class="row col-sm-8 d-flex justify-content-start">
		<div class="card col-sm-3" style="border:none">
			<div class="d-flex justify-content-center">
				<i class="pi pi-thumbs-up" style="font-size: 3em;color: rgb(128, 230, 145);"></i>
			</div>
			<div class="card-body">
			<h5 class="card-title">Engagement</h5>
			<p class="card-text text-muted">En utilisant ce service vous agissez en faveur d'une cause : celle de l'environnement.</p>
			</div>
		</div>
		<div class="card col-sm-3" style="border:none">
			<div class="d-flex justify-content-center">
				<i class="pi pi-users" style="font-size: 3em;color: rgb(128, 230, 145);"></i>
			</div>
			<div class="card-body">
			<h5 class="card-title">Solidarité</h5>
			<p class="card-text text-muted">Construisons un réseaux de solidarité auprès des petits producteurs et artisants.</p>
			</div>
		</div>
		<div class="card col-sm-3" style="border:none">
			<div class="d-flex justify-content-center">
				<i class="pi pi-refresh" style="font-size: 3em;color: rgb(128, 230, 145);"></i>
			</div>
			<div class="card-body">
			<h5 class="card-title">Proximité</h5>
			<p class="card-text text-muted">Consommer local, frais, au prix juste. Réduction de nos impacts écologiques.</p>
			</div>
		</div>
	</div>
</div>
