<app-nav-bar></app-nav-bar>
<br />

<br />
<p-toast  [style]="{marginTop: '350px', marginRight: '900px'}"></p-toast>
<div class="row" style="margin-top: 70px;">
    <div class="col-sm-4 mx-auto text-center">
        <form [formGroup]="formConnex" (ngSubmit)="connexionUser()" style="margin-top: 70px;">
            <input class="form-control" placeholder="Login" formControlName="login" required><br /><br />
            <input class="form-control" placeholder="Mot de pass" formControlName="password"><br /><br />
            <button type="submit" class="btn btn-lg btn-outline-success shadow" style="border-radius: 30px; width: 220px; margin-top: 100px;">Connexion</button>
        </form>
    </div>
</div>
<div class="row" style="margin-top: 40px;">
    <div class="col mx-auto text-right">
        <a>login oublié</a>
    </div><div class="col-sm-1  mx-auto text-center">
         | 
    </div>
    <div class="col mx-auto text-left">
         <a>Mot de pass oublié</a>
    </div>
</div>

