<app-nav-bar></app-nav-bar>
<!-- <br />
<br />
<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>mail</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of listParticuliers">
            <td>{{a.nom}}</td>
            <td>{{a.prenom}}</td>
            <td>{{a.mail}}</td>
        </tr>
    </tbody>
</table> -->
<br />
<br />
<div class="row" style="margin-top: 70px;">
    <p>espace-particulier works!</p>
    <div class="col mx-auto text-center" >
        <a >Bienvenu {{currentUser?.prenom}} {{currentUser?.nom}}</a>
    </div>
</div>
<br />
<br />
<div class="row">
    
    <div class="col-lg-3 mx-auto" >Test</div>
    <div class="col-lg-3 mx-auto" >TEst</div>
</div>
<div class="row">COUCOU</div>
<div class="row"></div>