<app-nav-bar></app-nav-bar>
<div class="jumbotron text-center"  style="margin-top: 70px;">
    <h2>Bienvenue </h2>
    <p>{{currentUser?.prenom}} {{currentUser?.nom}}</p> 
  </div>
    
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-4">
       
        <div class="d-flex justify-content-center">
          <i class="pi pi-user-minus" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
          <h4>Mon profil :</h4>
        <a routerLink="/modificationprofilpro">Modifier votre compte ici.</a>
        </div>
     
      <div class="col-sm-4">
        <div class="d-flex justify-content-center">
        <i class="pi pi-align-justify" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
        <h4>Mes missions :</h4>
        <a routerLink="#">Gerez vos missions.</a>
  
      </div>
      <div class="col-sm-4">
          <div class="d-flex justify-content-center">
          <i class="pi pi-list" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
          <h4>Mes produits :</h4>
          <a routerLink="#">Gérer mes produits favoris.</a>
         
        </div>
    </div>
  </div> -->

<div class="row-sm-4 text-left" style=" margin-top: 50px; background-color: rgb(128, 230, 145);">
    <div class="col text-left" style="margin-left :20px">
      <h1>Mes favoris</h1>
      <p>Miam !</p>
    </div>
  </div>
<!------------------ liste favoris ------------------------->
  <div class="col-sm-12 d-flex justify-content-around" *ngFor="let fav of listeFavoris">
    <div class="shadow card col-sm-10 card-body my-3">
        <div class="row d-flex justify-content-around mb-4">
            <div *ngIf="fav.producteur!=null" class="col-sm-5  d-flex justify-content-start">
                {{fav.quantiteDisponible}} {{fav.nom}} disponibles <br /><br />
                <br /><br />
                producteur : {{fav.producteur.nom}} {{fav.producteur.prenom}} 
            </div>
            <div *ngIf="fav.artisant!=null" class="col-sm-5  d-flex justify-content-start">
              {{fav.quantiteDisponible}} {{fav.nom}} disponibles <br /><br />
              <br /><br />
              Arstiant : {{fav.artisant.nom}} {{fav.artisant.prenom}} 
          </div>
          <div *ngIf="fav.commercant!=null" class="col-sm-5  d-flex justify-content-start">
            {{fav.quantiteDisponible}} {{fav.nom}} disponibles <br /><br />
            <br /><br />
            Commercant : {{fav.commercant.nom}} {{fav.commercant.prenom}} 
        </div>
            <div class="col-sm-5 d-flex justify-content-end">
                <i class="pi pi-shopping-cart" style="font-size: 1.5em;"></i> : {{fav.prix}} €/kg
            </div>
        </div>
        <div class="row d-flex justify-content-around mt-4">
            <div class="col-sm-5 d-flex justify-content-start">
                <!-- <i class="pi pi-user" style="font-size: 1.5em;color: rgb(128, 230, 145);"></i>{{fav.nom}} -->
            </div>
            <div class="col-sm-3 d-flex justify-content-end">
              <button type="button" (click)="supprimerFavori(fav)" class="btn btn-outline-success rounded-pill">Retirer des favoris</button>
          </div>
            <div class="col-sm-3 d-flex justify-content-end">
                <button type="button"(click)="infosAnnonce(fav)" data-toggle="modal" data-target="#exampleModal2" class="btn btn-outline-success rounded-pill">Acheter de nouveau</button>
            </div>
           
        </div>
    </div>


</div>


    <!-- Modal Achat -->
    <div class="modal fade" id="exampleModal2" tabindex="-1"  role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">Formulaire d'achat</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="achatForm">
                  <div class="form-group">
                      <label style="color:rgb(128, 230, 145)">Annonce :</label>
                      <p>{{Article.quantiteDisponible}} {{Article.nom}}(s) à {{Article.prix}} € prix unitaire sont encore disponibles dans cette offre.</p>
                  </div>
                  <div class="form-group">
                      <i class="pi pi-user" style="font-size: 2em;color: rgb(128, 230, 145);"></i><p> Publiée par :
                         <!-- {{nom}} -->
                        </p>
                  </div>
                  <div class="form-group row">
                      <div class="col">
                          <i class="pi pi-shopping-cart" style="font-size: 2em;color: rgb(128, 230, 145);"></i>
                          <input type="number" formControlName="quantite" class="form-control col-sm-6" placeholder="quantité" (change)="calcul($event)">
                      </div>
                      <div class="col">
                          <i class="pi pi-money-bill" style="font-size: 2em;color: rgb(128, 230, 145);"></i><p> Total : {{total}} €</p>
                      </div>
                      
                  </div>
              </form>
              <div *ngIf="confirmed" class="alert alert-success" role="alert">
                  Achat effectué! Veuillez patientez..
              </div>
              <div *ngIf="testAchat" class="alert alert-danger" role="alert">
                  Erreur dans le formulaire : la quantité désirée ne peut être fournie.
              </div>  
          </div>
          <div class="modal-footer">
              <button *ngIf="!validateButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmerAchat()">Confirmer achat {{total}} €</button>
              <button *ngIf="validateButton" type="button" class="btn btn-success" (click)="valider()">Valider</button>
              <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="raz()">Annuler</button>
          </div>
          </div>
      </div>
    </div>

<!-- <tr *ngFor="let a of listeFavoris">
  <td>{{a.nom}}</td>
 <td>{{a.typearticle}}</td>
 <td>{{a.prix}}</td>
 <td>{{a.quantiteDisponible}}</td>
 <td> <button (click)="ajouterFavori()" class="btn btn-danger">Ajouter</button> </td> 
</tr> -->

<!--____________________________________PARTIE FEEDBACK ICI_________________________________-->

<div class="row-sm-4 text-left" style=" margin-top: 50px; background-color: rgb(128, 230, 145);">
  <div class="col text-left" style="margin-left :20px">
    <h2>Mon historique de commandes</h2>
    <p>N'hésitez pas à donner votre avis.</p>
  
  </div>
</div>
<!--____________________________________Liste des commandes passées _________________________________-->

<br /><br />
<div class="container col-sm-10">
  <table  class="table" >
    <thead>
      <tr>
        <td>Date d'achat</td>
        <td>Producteur</td>
        <td>Article commandé</td>
      <td>Quantité</td>
      <td>Votre avis nous intéresse</td>
      </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let a of listChoix">
          <td>{{a.dateAchat  | date:'EEEE, MMMM d, y'}}</td>
          <td>  {{a.article.producteur.nom}}</td>
          <td>  {{a.article.nom}}</td>
          <td>{{a.quantite}}</td>
          <td style="text-align: center;">
            <div class="container col-sm-10" *ngIf="listFeedIdChoix.includes(a.idChoix)==false">
              <button type="button" class="btn btn-lg btn-outline-warning shadow" (click)=donnerFeed(a) data-toggle="modal" data-target=".bd-example-modal-lg"style="border-radius: 30px; width: 220px;">
              Donnez votre avis </button>
            </div>
            <div class="container col-sm-10 card d-flex justify-content-center align-items-center bg-success" style="width: 220px;height: 40px;" *ngIf="listFeedIdChoix.includes(a.idChoix)==true">
                <p class="card-text" style="color: white;">Votre avis est enregistré.</p>
            </div>
          </td>
        </tr> 
    </tbody>
  </table>
</div>
<br /><br />
<!--_____________________________form feedback __________________________-->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Notez vos commandes précédentes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container p-3 my-3 bg-dark text-white" style="margin-top: 70px;">
            <form [formGroup]="formFeed" (ngSubmit)="ajoutFeedback()" >
              <div class="form-group">
                <label for="exampleInputEmail1">Note :</label>
                <input type="number" min="1" max="5" class="form-control" formControlName="note" aria-describedby="emailHelp" placeholder="Note ">
                <small id="emailHelp" class="form-text text-muted"></small>
            </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Commentaire :</label>
                    <textarea class="form-control" formControlName="commentaire" aria-describedby="emailHelp" placeholder="Commentaire"></textarea>
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="ajoutFeedback()">Noter</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>