<app-nav-bar></app-nav-bar>
<div class="jumbotron text-center"  style="margin-top: 70px;">
    <h2>Bienvenue </h2>
    <p>{{currentUser?.prenom}} {{currentUser?.nom}}</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
       
        <div class="d-flex justify-content-center">
          <i class="pi pi-user-minus" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
          <h4>Mon profil :</h4>
        <a routerLink="/modificationprofilpro">Modifier votre compte ici.</a>
        </div>
     
      <div class="col-sm-4">
        <div class="d-flex justify-content-center">
        <i class="pi pi-align-justify" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
        <h4>Mes missions :</h4>
        <a routerLink="/creationannonce">Gerez vos missions.</a>
  
      </div>
      <div class="col-sm-4">
          <div class="d-flex justify-content-center">
          <i class="pi pi-list" style="font-size: 3em;color: rgb(128, 230, 145);"></i> </div><br />
          <h4>Mes produits :</h4>
          <a routerLink="/creationarticle">Gérer mes produits favoris.</a>
         
        </div>
    </div>
  </div>
<!------------------ liste favoris ------------------------->
  <div class="col-sm-12 d-flex justify-content-around" *ngFor="let fav of listeFavoris">
    <div class="shadow card col-sm-10 card-body my-3">
        <div class="row d-flex justify-content-around mb-4">
            <div class="col-sm-5  d-flex justify-content-start">
                {{fav.quantiteDisponible}} disponibles
            </div>
            <div class="col-sm-5 d-flex justify-content-end">
                <i class="pi pi-shopping-cart" style="font-size: 1.5em;"></i> : {{fav.prix}} €/kg
            </div>
        </div>
        <div class="row d-flex justify-content-around mt-4">
            <div class="col-sm-5 d-flex justify-content-start">
                <i class="pi pi-user" style="font-size: 1.5em;color: rgb(128, 230, 145);"></i>{{fav.producteur.nom}}
            </div>
            <div class="col-sm-5 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-success rounded-pill">Acheter</button>
            </div>
        </div>
    </div>
</div>
  
  